<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>骑管家</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.tongshi.RideHouse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
				<string>RideHousekeeper</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2018.1.8</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>IFlySpeechPlus</string>
		<string>baidumap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>jpush.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>使用蓝牙</string>
	<key>NSCameraUsageDescription</key>
	<string>需要扫描二维码进行绑定外设或拍摄图片来上传头像，请问您是否允许打开相机？</string>
	<key>NSContactsUsageDescription</key>
	<string>访问通讯录</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>您的位置可能会用于主页的天气预报提醒和在“骑行导航”模块中地图的位置显示，用于提供诸如方向以及骑行路线导航的功能</string>
	<key>NSLocationUsageDescription</key>
	<string>您的位置可能会用于主页的天气预报提醒和在“骑行导航”模块中地图的位置显示，用于提供诸如方向以及骑行路线导航的功能</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>您的位置可能会用于主页的天气预报提醒和在“骑行导航”模块中地图的位置显示，用于提供诸如方向以及骑行路线导航的功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要获取您的语音来进行地址搜索栏的快速输入，请问您是否允许访问麦克风？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要您的同意才能上传头像，请问是否允许访问相册？</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
